In [2]:
import pandas as pd
#import psycopg2 as ps
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import numpy as np

In [12]:
'''connection = ps.connect(
    host="161.53.66.18",
    port=6432,
database="postgres",
user="readonlystudentuser",
password="4URVqwKQmMiwPJ47wIxv"
)
cursor=connection.cursor()'''

'connection = ps.connect(\n    host="161.53.66.18",\n    port=6432,\ndatabase="postgres",\nuser="readonlystudentuser",\npassword="4URVqwKQmMiwPJ47wIxv"\n)\ncursor=connection.cursor()'

In [2]:
#engine = create_engine("postgresql://readonlystudentuser:4URVqwKQmMiwPJ47wIxv@161.53.66.18:6432/postgres")

In [5]:
#data=pd.read_sql("select time from measurements where device = 'Elektricni bojler' and extract(MONTH from time)=1 and extract(year from time)=2023 ", engine)
#data

                      time
0      2023-01-01 00:00:01
1      2023-01-01 00:00:03
2      2023-01-01 00:00:05
3      2023-01-01 00:00:07
4      2023-01-01 00:00:09
...                    ...
903138 2023-01-31 13:15:27
903139 2023-01-31 13:15:29
903140 2023-01-31 13:15:31
903141 2023-01-31 13:15:33
903142 2023-01-31 13:15:35

[903143 rows x 1 columns]

In [6]:
#data.to_csv('1_2023.csv', index=False)

Učitavanje csv filea i stvaranje df-a s columnima id, time i device

In [ ]:
#pospremanje samo podataka za bojler u csv-ove

In [13]:
for i in range(4,12):
    df = pd.read_csv(r"projektR_data\{}mj.csv".format(i), usecols=['id','time', 'device'], encoding='latin1')
    df=df[df['device'] == 'Elektricni bojler']
    
    df2=df[['id','time']]
    df2.to_csv("{}_2022.csv".format(i), index=False)

Učitavanje podataka u df-ove

In [34]:
df=pd.read_csv(r"4_2022.csv",usecols=['id','time'], encoding='latin1')
df

              id                 time
0         723184  2022-04-07 14:13:36
1         723209  2022-04-07 14:13:41
2         723234  2022-04-07 14:13:46
3         723259  2022-04-07 14:13:51
4         723284  2022-04-07 14:13:56
...          ...                  ...
723085  18802702  2022-04-29 23:59:51
723086  18802727  2022-04-29 23:59:53
723087  18802752  2022-04-29 23:59:55
723088  18802777  2022-04-29 23:59:57
723089  18802802  2022-04-29 23:59:59

[723090 rows x 2 columns]

In [35]:
df['time']=pd.to_datetime(df['time'])
#ako je rupa na početku (odnosno zapisi krecu od npr 5. dana u mjesecu, moj program to nece automatski primijetiti
#isto tako, ako se snimanje prekine prije zadnjeg dana u mjesecu, nece se vidjeti rupa
beginning=pd.to_datetime("2022-04-01 00:00:00")
end=pd.to_datetime("2022-04-30 23:59:59")
df['diff'] = df['time'].diff(periods=1)
df

              id                time            diff
0         723184 2022-04-07 14:13:36             NaT
1         723209 2022-04-07 14:13:41 0 days 00:00:05
2         723234 2022-04-07 14:13:46 0 days 00:00:05
3         723259 2022-04-07 14:13:51 0 days 00:00:05
4         723284 2022-04-07 14:13:56 0 days 00:00:05
...          ...                 ...             ...
723085  18802702 2022-04-29 23:59:51 0 days 00:00:02
723086  18802727 2022-04-29 23:59:53 0 days 00:00:02
723087  18802752 2022-04-29 23:59:55 0 days 00:00:02
723088  18802777 2022-04-29 23:59:57 0 days 00:00:02
723089  18802802 2022-04-29 23:59:59 0 days 00:00:02

[723090 rows x 3 columns]

In [36]:
#dodat prvi i zadnji redak u kojem je izračun za rupu između prvog retka i poč mjeseca, te zadnjeg retka i kraja mjeseca
df.loc[0,'diff']=df.loc[0, 'time'] - beginning
df.loc[len(df)] = {'diff':end - df.loc[len(df)-1, 'time'], 'time' : end}
df

                id                time            diff
0         723184.0 2022-04-07 14:13:36 6 days 14:13:36
1         723209.0 2022-04-07 14:13:41 0 days 00:00:05
2         723234.0 2022-04-07 14:13:46 0 days 00:00:05
3         723259.0 2022-04-07 14:13:51 0 days 00:00:05
4         723284.0 2022-04-07 14:13:56 0 days 00:00:05
...            ...                 ...             ...
723086  18802727.0 2022-04-29 23:59:53 0 days 00:00:02
723087  18802752.0 2022-04-29 23:59:55 0 days 00:00:02
723088  18802777.0 2022-04-29 23:59:57 0 days 00:00:02
723089  18802802.0 2022-04-29 23:59:59 0 days 00:00:02
723090         NaN 2022-04-30 23:59:59 1 days 00:00:00

[723091 rows x 3 columns]

In [39]:
df[df['time']=="2022-04-25 16:01:27"]
#po dva retak u istom trenutku? kvari li to moj avg period?

                id                time            diff
540561  14202352.0 2022-04-25 16:01:27 0 days 00:00:02
540562  14242477.0 2022-04-25 16:01:27 0 days 00:00:00

In [40]:
df['index'] = range(len(df))
df

                id                time            diff   index
0         723184.0 2022-04-07 14:13:36 6 days 14:13:36       0
1         723209.0 2022-04-07 14:13:41 0 days 00:00:05       1
2         723234.0 2022-04-07 14:13:46 0 days 00:00:05       2
3         723259.0 2022-04-07 14:13:51 0 days 00:00:05       3
4         723284.0 2022-04-07 14:13:56 0 days 00:00:05       4
...            ...                 ...             ...     ...
723086  18802727.0 2022-04-29 23:59:53 0 days 00:00:02  723086
723087  18802752.0 2022-04-29 23:59:55 0 days 00:00:02  723087
723088  18802777.0 2022-04-29 23:59:57 0 days 00:00:02  723088
723089  18802802.0 2022-04-29 23:59:59 0 days 00:00:02  723089
723090         NaN 2022-04-30 23:59:59 1 days 00:00:00  723090

[723091 rows x 4 columns]

Izračun prosječnog vremena između dva mjerenja (tj. perioda uzimanja uzoraka)

In [41]:
average_period = df['diff'].mean()
average_period

Timedelta('0 days 00:00:03.584609682')

st. devijacija

In [42]:
deviation=df['diff'].std()
deviation

Timedelta('0 days 00:11:41.963633455')

In [27]:
p1=average_period+deviation
p1

Timedelta('0 days 00:11:45.548243137')

In [28]:
df3=df[df['diff'] > p1]
df3

                id                time            diff   index
0         723184.0 2022-04-07 14:13:36 6 days 14:13:36       0
199       728161.0 2022-04-07 14:51:20 0 days 00:16:03     199
214       728536.0 2022-04-07 15:10:11 0 days 00:16:40     214
487       735356.0 2022-04-07 16:29:18 0 days 00:20:26     487
13173    1052506.0 2022-04-08 11:13:11 0 days 00:30:36   13173
13179    1052656.0 2022-04-08 11:36:24 0 days 00:21:24   13179
13184    1052781.0 2022-04-08 11:49:00 0 days 00:12:05   13184
13186    1052831.0 2022-04-08 12:11:01 0 days 00:21:56   13186
13199    1053156.0 2022-04-08 12:39:39 0 days 00:24:41   13199
15016    1098581.0 2022-04-08 15:48:44 0 days 00:14:29   15016
15071    1099956.0 2022-04-08 16:27:07 0 days 00:12:26   15071
36091    1625456.0 2022-04-11 09:21:48 1 days 11:15:42   36091
40623    1738760.0 2022-04-11 16:15:27 0 days 00:25:25   40623
41429    1758910.0 2022-04-11 18:37:55 0 days 01:11:45   41429
41430    1758924.0 2022-04-11 18:52:02 0 days 00:14:07   41430
41432    1758974.0 2022-04-11 19:11:56 0 days 00:18:09   41432
51389    2007899.0 2022-04-12 09:26:05 0 days 00:16:47   51389
51488    2010374.0 2022-04-12 10:01:14 0 days 00:15:09   51488
134855   4094549.0 2022-04-15 09:59:57 0 days 23:43:16  134855
139443   4209249.0 2022-04-15 20:18:02 0 days 07:42:37  139443
293311   8055949.0 2022-04-19 14:58:46 0 days 02:07:03  293311
335774   9117524.0 2022-04-20 15:28:37 0 days 00:16:00  335774
538353  14182002.0 2022-04-25 11:06:31 0 days 00:18:26  538353
538466  14184827.0 2022-04-25 13:15:57 0 days 02:05:37  538466
538532  14207627.0 2022-04-25 15:10:18 0 days 01:52:07  538532
723090         NaN 2022-04-30 23:59:59 1 days 00:00:00  723090

Analiza pomoću 200% perioda umjesto devijacije (jer je jako velika)

In [43]:
#ako stavim da je odstupanje 200% (bejzikli da pokrije do 4 s)
p2=average_period*2
p2

Timedelta('0 days 00:00:07.169219364')

In [62]:
df4=df[df['diff']>p2]
df4

                id                time            diff   index
0         723184.0 2022-04-07 14:13:36 6 days 14:13:36       0
197       728111.0 2022-04-07 14:35:12 0 days 00:05:08     197
199       728161.0 2022-04-07 14:51:20 0 days 00:16:03     199
201       728211.0 2022-04-07 14:52:31 0 days 00:01:06     201
214       728536.0 2022-04-07 15:10:11 0 days 00:16:40     214
...            ...                 ...             ...     ...
572669  15042302.0 2022-04-26 10:33:55 0 days 00:00:12  572669
613665  16067202.0 2022-04-27 09:54:37 0 days 00:08:28  613665
616816  16145977.0 2022-04-27 11:48:46 0 days 00:06:13  616816
616887  16147752.0 2022-04-27 11:56:35 0 days 00:05:25  616887
723090         NaN 2022-04-30 23:59:59 1 days 00:00:00  723090

[134 rows x 4 columns]

Prikaz redaka (mjerenja) između kojih je rupa

In [64]:
previous_row = df4['index'] - 1
result = pd.concat([df[df['index'].isin(previous_row) ], df4])
result = result.sort_index()
#result=result.copy()
result

                id                time            diff   index
0         723184.0 2022-04-07 14:13:36 6 days 14:13:36       0
196       728084.0 2022-04-07 14:30:04 0 days 00:00:05     196
197       728111.0 2022-04-07 14:35:12 0 days 00:05:08     197
198       728136.0 2022-04-07 14:35:17 0 days 00:00:05     198
199       728161.0 2022-04-07 14:51:20 0 days 00:16:03     199
...            ...                 ...             ...     ...
616816  16145977.0 2022-04-27 11:48:46 0 days 00:06:13  616816
616886  16147727.0 2022-04-27 11:51:10 0 days 00:00:02  616886
616887  16147752.0 2022-04-27 11:56:35 0 days 00:05:25  616887
723089  18802802.0 2022-04-29 23:59:59 0 days 00:00:02  723089
723090         NaN 2022-04-30 23:59:59 1 days 00:00:00  723090

[267 rows x 4 columns]

In [49]:
result.loc[196]

id                  728084.0
time     2022-04-07 14:30:04
diff         0 days 00:00:05
index                    196
Name: 196, dtype: object

In [65]:
if result.loc[0,'index']==0:
    #prvi red ima rupu od poč. mjeseca
    new_df=pd.DataFrame({'time1':[beginning], 'time2':[result.loc[0,'time']], 'diff':[result.loc[0,'diff']]})
    new_df=pd.concat([new_df,pd.DataFrame({
    'time1': result['time'].iloc[1::2].reset_index(drop=True),
    'time2': result['time'].iloc[2::2].reset_index(drop=True),
    'diff': result['diff'].iloc[2::2].reset_index(drop=True)
    })], ignore_index=True)
else:
    # No gap in the first row
    new_df = pd.DataFrame({
        'time1': result['time'].iloc[0::2].reset_index(drop=True),
        'time2': result['time'].iloc[1::2].reset_index(drop=True),
        'diff': result['diff'].iloc[1::2].reset_index(drop=True)
    }, ignore_index=True)

new_df

                  time1               time2            diff
0   2022-04-01 00:00:00 2022-04-07 14:13:36 6 days 14:13:36
1   2022-04-07 14:30:04 2022-04-07 14:35:12 0 days 00:05:08
2   2022-04-07 14:35:17 2022-04-07 14:51:20 0 days 00:16:03
3   2022-04-07 14:51:25 2022-04-07 14:52:31 0 days 00:01:06
4   2022-04-07 14:53:31 2022-04-07 15:10:11 0 days 00:16:40
..                  ...                 ...             ...
129 2022-04-26 10:33:43 2022-04-26 10:33:55 0 days 00:00:12
130 2022-04-27 09:46:09 2022-04-27 09:54:37 0 days 00:08:28
131 2022-04-27 11:42:33 2022-04-27 11:48:46 0 days 00:06:13
132 2022-04-27 11:51:10 2022-04-27 11:56:35 0 days 00:05:25
133 2022-04-29 23:59:59 2022-04-30 23:59:59 1 days 00:00:00

[134 rows x 3 columns]

In [3]:
def obrada(month):
    df=pd.read_csv("{}_2022.csv".format(month),usecols=['id','time'], encoding='latin1')
    end=pd.to_datetime("2022-{}-01 23:59:59".format(month+1))-pd.Timedelta(days=1)
    beginning=pd.to_datetime("2022-{}-01 00:00:00".format(month))
    if df.empty:
        df=pd.DataFrame({'time1':[beginning], 'time2':[end], 'diff':[end-beginning]})
        #print(beginning)
        return df, 0, end-beginning
    print(len(df))
    df['time']=pd.to_datetime(df['time'])
   # df=df[['id','time']]
    df['diff'] = df['time'].diff(periods=1)
    
    df.loc[0,'diff']=df.loc[0, 'time'] - beginning
    df.loc[len(df)] = {'diff':end - df.loc[len(df)-1, 'time'], 'time' : end}

    df['index'] = range(len(df))
    average_period = df['diff'].mean()
    deviation=df['diff'].std()
    p1=average_period+deviation
    p2=average_period*2
    df4=df[df['diff'] > p2]
    #print(df)
    previous_row = df4['index'] - 1
    result = pd.concat([df[df['index'].isin(previous_row) ], df4])
    result.sort_index(inplace=True, ignore_index=True)

    #print(result)
    #print(average_period)
    # Sort the result by index to maintain the order
    if(result.empty):
        print("nema rupa")
        return result, deviation, average_period
    if result.loc[0,'index']==0:
        #prvi red ima rupu od poč. mjeseca
        new_df=pd.DataFrame({'time1':[beginning], 'time2':[result.loc[0,'time']], 'diff':[result.loc[0,'diff']]})
        new_df=pd.concat([new_df,pd.DataFrame({
        'time1': result['time'].iloc[1::2].reset_index(drop=True),
        'time2': result['time'].iloc[2::2].reset_index(drop=True),
        'diff': result['diff'].iloc[2::2].reset_index(drop=True)
        })], ignore_index=True)
    else:
        # No gap in the first row
        new_df = pd.DataFrame({
            'time1': result['time'].iloc[0::2].reset_index(drop=True),
            'time2': result['time'].iloc[1::2].reset_index(drop=True),
            'diff': result['diff'].iloc[1::2].reset_index(drop=True)
        })
    return new_df, deviation, average_period

In [4]:
result, deviation, average_period=obrada(10)
#print('{}. mjesec:'.format(i))
print('devijacija:{}, prosjecni period:{}'.format(deviation, average_period))
result

314632
devijacija:0 days 00:22:25.219952880, prosjecni period:0 days 00:00:08.512772023

                  time1               time2            diff
0   2022-10-01 00:00:00 2022-10-04 11:08:36 3 days 11:08:36
1   2022-10-04 11:24:36 2022-10-04 11:29:19 0 days 00:04:43
2   2022-10-04 12:12:34 2022-10-04 12:13:32 0 days 00:00:58
3   2022-10-05 11:26:27 2022-10-05 11:26:46 0 days 00:00:19
4   2022-10-05 11:29:45 2022-10-05 11:30:23 0 days 00:00:38
..                  ...                 ...             ...
166 2022-10-28 16:41:58 2022-10-28 16:43:25 0 days 00:01:27
167 2022-10-28 16:43:33 2022-10-28 16:46:00 0 days 00:02:27
168 2022-10-28 16:54:45 2022-10-28 16:57:35 0 days 00:02:50
169 2022-10-28 16:57:50 2022-10-28 16:58:43 0 days 00:00:53
170 2022-10-30 23:59:59 2022-10-31 23:59:59 1 days 00:00:00

[171 rows x 3 columns]

#za sve mjesece

In [157]:
for i in range(4,12):
    result, deviation, average_period=obrada(i)
    print('{}. mjesec:'.format(i))
    print('devijacija:{}, prosjecni period:{}'.format(deviation, average_period))
    print(result)

723090
4. mjesec:
devijacija:0 days 00:11:41.963633455, prosjecni period:0 days 00:00:03.584609682
                  time1               time2            diff
0   2022-04-01 00:00:00 2022-04-07 14:13:36 6 days 14:13:36
1   2022-04-07 14:30:04 2022-04-07 14:35:12 0 days 00:05:08
2   2022-04-07 14:35:17 2022-04-07 14:51:20 0 days 00:16:03
3   2022-04-07 14:51:25 2022-04-07 14:52:31 0 days 00:01:06
4   2022-04-07 14:53:31 2022-04-07 15:10:11 0 days 00:16:40
..                  ...                 ...             ...
129 2022-04-26 10:33:43 2022-04-26 10:33:55 0 days 00:00:12
130 2022-04-27 09:46:09 2022-04-27 09:54:37 0 days 00:08:28
131 2022-04-27 11:42:33 2022-04-27 11:48:46 0 days 00:06:13
132 2022-04-27 11:51:10 2022-04-27 11:56:35 0 days 00:05:25
133 2022-04-29 23:59:59 2022-04-30 23:59:59 1 days 00:00:00

[134 rows x 3 columns]
1052119
5. mjesec:
devijacija:0 days 00:06:48.741757694, prosjecni period:0 days 00:00:02.545716268
                 time1               time2            diff
0  2022-05-02 16:53:42 2022-05-02 17:00:37 0 days 00:06:55
1  2022-05-03 14:46:17 2022-05-03 14:46:27 0 days 00:00:10
2  2022-05-04 03:37:41 2022-05-04 09:31:16 0 days 05:53:35
3  2022-05-05 11:11:33 2022-05-05 14:16:20 0 days 03:04:47
4  2022-05-05 14:16:28 2022-05-05 16:43:07 0 days 02:26:39
5  2022-05-05 17:34:28 2022-05-06 10:03:48 0 days 16:29:20
6  2022-05-09 10:11:04 2022-05-09 10:11:17 0 days 00:00:13
7  2022-05-09 11:53:40 2022-05-09 11:57:07 0 days 00:03:27
8  2022-05-09 15:03:33 2022-05-09 15:03:44 0 days 00:00:11
9  2022-05-11 18:33:05 2022-05-11 18:50:02 0 days 00:16:57
10 2022-05-12 04:29:28 2022-05-12 11:29:08 0 days 06:59:40
11 2022-05-12 11:30:18 2022-05-12 11:31:39 0 days 00:01:21
12 2022-05-12 11:31:53 2022-05-12 11:32:11 0 days 00:00:18
13 2022-05-12 11:32:15 2022-05-12 11:32:37 0 days 00:00:22
14 2022-05-12 11:33:41 2022-05-12 11:35:08 0 days 00:01:27
15 2022-05-12 11:39:17 2022-05-12 12:04:16 0 days 00:24:59
16 2022-05-18 09:03:11 2022-05-18 09:03:24 0 days 00:00:13
17 2022-05-18 12:21:46 2022-05-18 12:22:45 0 days 00:00:59
18 2022-05-25 10:28:22 2022-05-25 10:28:44 0 days 00:00:22
19 2022-05-26 11:08:07 2022-05-26 11:10:21 0 days 00:02:14
20 2022-05-26 11:18:15 2022-05-26 11:19:03 0 days 00:00:48
21 2022-05-27 05:08:36 2022-05-31 23:59:59 4 days 18:51:23
762608
6. mjesec:
devijacija:0 days 00:13:17.883875640, prosjecni period:0 days 00:00:03.398857081
                 time1               time2            diff
0  2022-06-01 12:41:04 2022-06-01 17:33:55 0 days 04:52:51
1  2022-06-03 09:48:20 2022-06-03 09:48:58 0 days 00:00:38
2  2022-06-03 10:23:55 2022-06-03 12:45:44 0 days 02:21:49
3  2022-06-03 13:30:17 2022-06-03 13:48:18 0 days 00:18:01
4  2022-06-03 13:48:53 2022-06-03 13:49:22 0 days 00:00:29
5  2022-06-03 14:05:01 2022-06-03 14:27:09 0 days 00:22:08
6  2022-06-03 14:32:39 2022-06-03 14:32:49 0 days 00:00:10
7  2022-06-03 15:39:56 2022-06-03 15:44:40 0 days 00:04:44
8  2022-06-03 15:45:33 2022-06-03 16:01:45 0 days 00:16:12
9  2022-06-03 17:19:03 2022-06-03 17:56:51 0 days 00:37:48
10 2022-06-03 19:58:24 2022-06-05 23:58:32 2 days 04:00:08
11 2022-06-09 16:33:11 2022-06-09 16:33:22 0 days 00:00:11
12 2022-06-11 13:20:43 2022-06-13 09:14:57 1 days 19:54:14
13 2022-06-23 10:53:39 2022-06-30 23:59:59 7 days 13:06:20
736206
7. mjesec:
devijacija:0 days 00:17:46.596126189, prosjecni period:0 days 00:00:03.638105858
                time1               time2             diff
0 2022-07-09 14:50:13 2022-07-11 07:33:29  1 days 16:43:16
1 2022-07-12 15:38:47 2022-07-14 08:33:50  1 days 16:55:03
2 2022-07-15 13:17:01 2022-07-15 13:18:18  0 days 00:01:17
3 2022-07-21 16:25:38 2022-07-31 23:59:59 10 days 07:34:21
8. mjesec:
devijacija:0, prosjecni period:30 days 23:59:59
       time1               time2             diff
0 2022-08-01 2022-08-31 23:59:59 30 days 23:59:59
438457
9. mjesec:
devijacija:0 days 00:30:34.150849570, prosjecni period:0 days 00:00:05.911624374
                time1               time2             diff
0 2022-09-01 00:00:00 2022-09-08 14:31:31  7 days 14:31:31
1 2022-09-08 15:26:09 2022-09-08 15:50:17  0 days 00:24:08
2 2022-09-19 04:16:38 2022-09-30 23:59:59 11 days 19:43:21
314632
10. mjesec:
devijacija:0 days 00:22:25.219952880, prosjecni period:0 days 00:00:08.512772023
                  time1               time2            diff
0   2022-10-01 00:00:00 2022-10-04 11:08:36 3 days 11:08:36
1   2022-10-04 11:24:36 2022-10-04 11:29:19 0 days 00:04:43
2   2022-10-04 12:12:34 2022-10-04 12:13:32 0 days 00:00:58
3   2022-10-05 11:26:27 2022-10-05 11:26:46 0 days 00:00:19
4   2022-10-05 11:29:45 2022-10-05 11:30:23 0 days 00:00:38
..                  ...                 ...             ...
166 2022-10-28 16:41:58 2022-10-28 16:43:25 0 days 00:01:27
167 2022-10-28 16:43:33 2022-10-28 16:46:00 0 days 00:02:27
168 2022-10-28 16:54:45 2022-10-28 16:57:35 0 days 00:02:50
169 2022-10-28 16:57:50 2022-10-28 16:58:43 0 days 00:00:53
170 2022-10-30 23:59:59 2022-10-31 23:59:59 1 days 00:00:00

[171 rows x 3 columns]
594612
11. mjesec:
devijacija:0 days 00:28:27.661577304, prosjecni period:0 days 00:00:04.359136110
                 time1               time2             diff
0  2022-11-02 09:54:14 2022-11-02 11:30:51  0 days 01:36:37
1  2022-11-02 11:31:34 2022-11-02 11:37:06  0 days 00:05:32
2  2022-11-02 11:37:12 2022-11-02 11:38:31  0 days 00:01:19
3  2022-11-02 11:39:09 2022-11-02 11:41:18  0 days 00:02:09
4  2022-11-02 11:41:40 2022-11-02 11:49:49  0 days 00:08:09
..                 ...                 ...              ...
65 2022-11-10 16:40:49 2022-11-10 16:41:48  0 days 00:00:59
66 2022-11-10 16:41:50 2022-11-10 16:42:59  0 days 00:01:09
67 2022-11-10 16:43:05 2022-11-10 16:49:19  0 days 00:06:14
68 2022-11-15 09:52:05 2022-11-15 15:35:23  0 days 05:43:18
69 2022-11-15 18:17:15 2022-11-30 23:59:59 15 days 05:42:44

[70 rows x 3 columns]

In [129]:
from datetime import datetime, timedelta

# Set the start date and time difference
start_date = datetime(2022, 1, 1)
time_diff = timedelta(seconds=2)  # Adjust the time difference as needed

# Generate timestamps with the specified time difference
timestamps = pd.date_range(start=start_date, periods=500000, freq=time_diff)

# Create a sample DataFrame
data = pd.DataFrame({'timestamp': timestamps})
data=pd.concat([data, pd.DataFrame({'timestamp':[pd.to_datetime("2022-01-03"), pd.to_datetime("2022-01-30")]})], ignore_index=True)
data['diff'] = data['timestamp'].diff(periods=1)
avg= data['diff'].mean()
print(avg)
data

0 days 00:00:05.011189977

                 timestamp               diff
0      2022-01-01 00:00:00                NaT
1      2022-01-01 00:00:02    0 days 00:00:02
2      2022-01-01 00:00:04    0 days 00:00:02
3      2022-01-01 00:00:06    0 days 00:00:02
4      2022-01-01 00:00:08    0 days 00:00:02
...                    ...                ...
499997 2022-01-12 13:46:34    0 days 00:00:02
499998 2022-01-12 13:46:36    0 days 00:00:02
499999 2022-01-12 13:46:38    0 days 00:00:02
500000 2022-01-03 00:00:00 -10 days +10:13:22
500001 2022-01-30 00:00:00   27 days 00:00:00

[500002 rows x 2 columns]

prosjecni period je malen jer su velike rupe vecinom zapisane u komadu, kad bi bilo puno manjih rupa prosj. period bi se losije ponasao?

In [139]:

r=440000 * 2
for i in range(19):
    r+=i*24*60*60
r/45000

347.87555555555554

In [ ]:
def obrada(month):
    df=pd.read_csv("{}_2022.csv".format(month),usecols=['id','time'], encoding='latin1')
    end=pd.to_datetime("2022-{}-01 23:59:59".format(month+1))-pd.Timedelta(days=1)
    beginning=pd.to_datetime("2022-{}-01 00:00:00".format(month))
    if df.empty:
        df=pd.DataFrame({'time1':[beginning], 'time2':[end], 'diff':[end-beginning]})
        #print(beginning)
        return df, 0, end-beginning
    print(len(df))
    df['time']=pd.to_datetime(df['time'])
   # df=df[['id','time']]
    df['diff'] = df['time'].diff(periods=1)
    
    df.loc[0,'diff']=df.loc[0, 'time'] - beginning
    df.loc[len(df)] = {'diff':end - df.loc[len(df)-1, 'time'], 'time' : end}

    df['index'] = range(len(df))
    average_period = df['diff'].mean()
    deviation=df['diff'].std()
    p1=average_period+deviation
    p2=average_period*2
    df4=df[df['diff'] > p2]
    #print(df)
    previous_row = df4['index'] - 1
    result = pd.concat([df[df['index'].isin(previous_row) ], df4])
    result.sort_index(inplace=True, ignore_index=True)

    #print(result)
    #print(average_period)
    # Sort the result by index to maintain the order
    if(result.empty):
        print("nema rupa")
        return result, deviation, average_period
    if result.loc[0,'index']==0:
        #prvi red ima rupu od poč. mjeseca
        new_df=pd.DataFrame({'time1':[beginning], 'time2':[result.loc[0,'time']], 'diff':[result.loc[0,'diff']]})
        new_df=pd.concat([new_df,pd.DataFrame({
        'time1': result['time'].iloc[1::2].reset_index(drop=True),
        'time2': result['time'].iloc[2::2].reset_index(drop=True),
        'diff': result['diff'].iloc[2::2].reset_index(drop=True)
        })], ignore_index=True)
    else:
        # No gap in the first row
        new_df = pd.DataFrame({
            'time1': result['time'].iloc[0::2].reset_index(drop=True),
            'time2': result['time'].iloc[1::2].reset_index(drop=True),
            'diff': result['diff'].iloc[1::2].reset_index(drop=True)
        })
    return new_df, deviation, average_period

ModuleNotFoundError: No module named 'scipy'