In [1]:
import pandas as pd
import psycopg2 as ps
from sqlalchemy import create_engine

In [12]:
'''connection = ps.connect(
    host="161.53.66.18",
    port=6432,
database="postgres",
user="readonlystudentuser",
password="4URVqwKQmMiwPJ47wIxv"
)
cursor=connection.cursor()'''

'connection = ps.connect(\n    host="161.53.66.18",\n    port=6432,\ndatabase="postgres",\nuser="readonlystudentuser",\npassword="4URVqwKQmMiwPJ47wIxv"\n)\ncursor=connection.cursor()'

In [3]:
engine = create_engine("postgresql://readonlystudentuser:4URVqwKQmMiwPJ47wIxv@161.53.66.18:6432/postgres")

In [10]:
data=pd.read_sql("select * from measurements limit 100", engine)
data

,id,time,energy,total_active_power,demand_total_active_power,maximum_demand_total_active_power,i1,i2,i3,u12,u23,u13,v1,v2,v3,device,total_power_factor,total_apparent_power
0,183798718,2023-01-29 05:11:56,0.302,0.0,0.0,526.216675,0.0,NaN,NaN,NaN,NaN,NaN,233.300003,NaN,NaN,Drobilica,NaN,0.0
1,183798719,2023-01-29 05:11:56,52.886,0.0,0.0,262.983521,0.0,NaN,NaN,NaN,NaN,NaN,233.899994,NaN,NaN,Uticnice,NaN,0.0
2,183798720,2023-01-29 05:11:56,925.291,0.0,0.0,1492.782959,0.0,NaN,NaN,NaN,NaN,NaN,233.699997,NaN,NaN,Elektricni bojler,NaN,0.0
3,183798721,2023-01-29 05:11:56,2006.571,0.0,0.0,1483.250000,0.0,NaN,NaN,NaN,NaN,NaN,233.899994,NaN,NaN,Podno grijanje,NaN,0.0
4,183798722,2023-01-29 05:11:56,34.098,0.0,0.0,38242.234375,0.0,0.0,0.0,404.600006,405.100006,405.0,NaN,NaN,NaN,Štednjak,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,183798813,2023-01-29 05:12:04,2.459,0.0,0.0,277.866699,0.0,NaN,NaN,NaN,NaN,NaN,233.800003,NaN,NaN,Napa,NaN,0.0
96,183798814,2023-01-29 05:12:04,90.366,0.0,0.0,1511.249878,0.0,NaN,NaN,NaN,NaN,NaN,234.000000,NaN,NaN,Mikrovalna,NaN,0.0
97,183798815,2023-01-29 05:12:04,322.632,0.0,0.0,239.783386,0.0,NaN,NaN,NaN,NaN,NaN,234.000000,NaN,NaN,Rasvjeta,NaN,0.0
98,183798816,2023-01-29 05:12:04,2464.717,0.0,0.0,1476.183105,0.0,NaN,NaN,NaN,NaN,NaN,233.899994,NaN,NaN,Podno grijanje,NaN,0.0
99,183798817,2023-01-29 05:12:04,0.166,0.0,0.0,35.633331,0.0,NaN,NaN,NaN,NaN,NaN,233.199997,NaN,NaN,Rolete,NaN,0.0