In [18]:
import pandas as pd
#import psycopg2 as ps
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import numpy as np

Hello world

In [12]:
'''connection = ps.connect(
    host="161.53.66.18",
    port=6432,
database="postgres",
user="readonlystudentuser",
password="4URVqwKQmMiwPJ47wIxv"
)
cursor=connection.cursor()'''

'connection = ps.connect(\n    host="161.53.66.18",\n    port=6432,\ndatabase="postgres",\nuser="readonlystudentuser",\npassword="4URVqwKQmMiwPJ47wIxv"\n)\ncursor=connection.cursor()'

In [2]:
engine = create_engine("postgresql://readonlystudentuser:4URVqwKQmMiwPJ47wIxv@161.53.66.18:6432/postgres")

In [5]:
data=pd.read_sql("select time from measurements where device = 'Elektricni bojler' and extract(MONTH from time)=1 and extract(year from time)=2023 ", engine)
data

                      time
0      2023-01-01 00:00:01
1      2023-01-01 00:00:03
2      2023-01-01 00:00:05
3      2023-01-01 00:00:07
4      2023-01-01 00:00:09
...                    ...
903138 2023-01-31 13:15:27
903139 2023-01-31 13:15:29
903140 2023-01-31 13:15:31
903141 2023-01-31 13:15:33
903142 2023-01-31 13:15:35

[903143 rows x 1 columns]

In [6]:
data.to_csv('1_2023.csv', index=False)

Učitavanje csv filea i stvaranje df-a s columnima id, time i device

In [52]:
csv_file = r'projektR_data\11mj.csv'
target_value = 'Elektricni bojler'

df = pd.read_csv(csv_file, usecols=['id','time', 'device'], encoding='latin1')

Odabir samo redaka za bojler

In [65]:
df=df[df['device'] == target_value]
df['time']=pd.to_datetime(df['time'])
df2=df[['id','time']]
#sva vremena bojlera u 11. mjesecu

In [66]:
df2

                 id                time
10        104688899 2022-11-01 00:00:00
35        104688924 2022-11-01 00:00:02
60        104688949 2022-11-01 00:00:04
85        104688974 2022-11-01 00:00:06
110       104688999 2022-11-01 00:00:08
...             ...                 ...
14865185  119554074 2022-11-15 18:17:07
14865210  119554099 2022-11-15 18:17:09
14865235  119554124 2022-11-15 18:17:11
14865260  119554149 2022-11-15 18:17:13
14865285  119554174 2022-11-15 18:17:15

[594612 rows x 2 columns]

Izračun vremena između svaka dva susjedna mjerenja

In [69]:
df2['diff'] = df2['time'].diff(periods=1)
df2

                 id                time            diff
10        104688899 2022-11-01 00:00:00             NaT
35        104688924 2022-11-01 00:00:02 0 days 00:00:02
60        104688949 2022-11-01 00:00:04 0 days 00:00:02
85        104688974 2022-11-01 00:00:06 0 days 00:00:02
110       104688999 2022-11-01 00:00:08 0 days 00:00:02
...             ...                 ...             ...
14865185  119554074 2022-11-15 18:17:07 0 days 00:00:02
14865210  119554099 2022-11-15 18:17:09 0 days 00:00:02
14865235  119554124 2022-11-15 18:17:11 0 days 00:00:02
14865260  119554149 2022-11-15 18:17:13 0 days 00:00:02
14865285  119554174 2022-11-15 18:17:15 0 days 00:00:02

[594612 rows x 3 columns]

In [80]:
df2['index'] = range(len(df2))
df2

                 id                time            diff   index
10        104688899 2022-11-01 00:00:00             NaT       0
35        104688924 2022-11-01 00:00:02 0 days 00:00:02       1
60        104688949 2022-11-01 00:00:04 0 days 00:00:02       2
85        104688974 2022-11-01 00:00:06 0 days 00:00:02       3
110       104688999 2022-11-01 00:00:08 0 days 00:00:02       4
...             ...                 ...             ...     ...
14865185  119554074 2022-11-15 18:17:07 0 days 00:00:02  594607
14865210  119554099 2022-11-15 18:17:09 0 days 00:00:02  594608
14865235  119554124 2022-11-15 18:17:11 0 days 00:00:02  594609
14865260  119554149 2022-11-15 18:17:13 0 days 00:00:02  594610
14865285  119554174 2022-11-15 18:17:15 0 days 00:00:02  594611

[594612 rows x 4 columns]

Izračun prosječnog vremena između dva mjerenja (tj. perioda uzimanja uzoraka)

In [71]:
average_period = df2['diff'].mean()
average_period

Timedelta('0 days 00:00:02.144990590')

st. devijacija

In [72]:
deviation=df2['diff'].std()
deviation

Timedelta('0 days 00:00:32.307643568')

In [73]:
p1=average_period+deviation
p1

Timedelta('0 days 00:00:34.452634158')

In [81]:
df3=df2[df2['diff'] > p1]
df3

                 id                time            diff   index
1509735   106198624 2022-11-02 11:30:51 0 days 01:36:37   60389
1510285   106199174 2022-11-02 11:37:06 0 days 00:05:32   60411
1510385   106199274 2022-11-02 11:38:31 0 days 00:01:19   60415
1510785   106199674 2022-11-02 11:41:18 0 days 00:02:09   60431
1511085   106199974 2022-11-02 11:49:49 0 days 00:08:09   60443
...             ...                 ...             ...     ...
9713785   114402674 2022-11-10 16:40:29 0 days 00:01:26  388551
9714060   114402949 2022-11-10 16:41:48 0 days 00:00:59  388562
9714110   114402999 2022-11-10 16:42:59 0 days 00:01:09  388564
9714210   114403099 2022-11-10 16:49:19 0 days 00:06:14  388568
14745535  119434424 2022-11-15 15:35:23 0 days 05:43:18  589821

[63 rows x 4 columns]

Analiza pomoću 200% perioda umjesto devijacije (jer je jako velika)

In [76]:
#ako stavim da je odstupanje 200% (bejzikli da pokrije do 4 s)
p2=average_period*2
p2

Timedelta('0 days 00:00:04.289981180')

In [82]:
df4=df2[df2['diff']>p2]
df4

                 id                time            diff   index
1509735   106198624 2022-11-02 11:30:51 0 days 01:36:37   60389
1510285   106199174 2022-11-02 11:37:06 0 days 00:05:32   60411
1510385   106199274 2022-11-02 11:38:31 0 days 00:01:19   60415
1510635   106199524 2022-11-02 11:38:58 0 days 00:00:08   60425
1510785   106199674 2022-11-02 11:41:18 0 days 00:02:09   60431
...             ...                 ...             ...     ...
9713785   114402674 2022-11-10 16:40:29 0 days 00:01:26  388551
9714060   114402949 2022-11-10 16:41:48 0 days 00:00:59  388562
9714110   114402999 2022-11-10 16:42:59 0 days 00:01:09  388564
9714210   114403099 2022-11-10 16:49:19 0 days 00:06:14  388568
14745535  119434424 2022-11-15 15:35:23 0 days 05:43:18  589821

[70 rows x 4 columns]

Prikaz redaka (mjerenja) između kojih je rupa

In [92]:
previous_row = df4['index'] - 1
result = pd.concat([df2[df2['index'].isin(previous_row) ], df4])

result = result.sort_index()
result

                 id                time            diff   index
1509710   106198599 2022-11-02 09:54:14 0 days 00:00:02   60388
1509735   106198624 2022-11-02 11:30:51 0 days 01:36:37   60389
1510260   106199149 2022-11-02 11:31:34 0 days 00:00:03   60410
1510285   106199174 2022-11-02 11:37:06 0 days 00:05:32   60411
1510360   106199249 2022-11-02 11:37:12 0 days 00:00:02   60414
...             ...                 ...             ...     ...
9714110   114402999 2022-11-10 16:42:59 0 days 00:01:09  388564
9714185   114403074 2022-11-10 16:43:05 0 days 00:00:02  388567
9714210   114403099 2022-11-10 16:49:19 0 days 00:06:14  388568
14745510  119434399 2022-11-15 09:52:05 0 days 00:00:02  589820
14745535  119434424 2022-11-15 15:35:23 0 days 05:43:18  589821

[140 rows x 4 columns]

In [97]:
def obrada(file):
    csv_file = 'projektR_data/'+file
    target_value = 'Elektricni bojler'

    df = pd.read_csv(csv_file, usecols=['id','time', 'device'], encoding='latin1')
    df=df[df['device'] == target_value]
    df['time']=pd.to_datetime(df['time'])
    df2=df[['id','time']]
    df2['diff'] = df2['time'].diff(periods=1)
    df2['index'] = range(len(df2))
    average_period = df2['diff'].mean()
    deviation=df2['diff'].std()
    p1=average_period+deviation
    #p2=average_period*2
    df4=df2[df2['diff'] > p1]
    previous_row = df4['index'] - 1
    result = pd.concat([df2[df2['index'].isin(previous_row) ], df4])
    
    
    # Sort the result by index to maintain the order
    result = result.sort_index()
    return result, deviation, average_period

#za sve mjesece

In [99]:
for i in range(4,12):
    
    result, deviation, average_period=obrada("{}mj.csv".format(i))
    print('{}. mjesec:'.format(i))
    print('devijacija:{}, prosjecni period:{}'.format(deviation, average_period))
    print(result)

4. mjesec:
devijacija:0 days 00:03:03.626140831, prosjecni period:0 days 00:00:02.677378579
                id                time            diff   index
4910        728084 2022-04-07 14:30:04 0 days 00:00:05     196
4937        728111 2022-04-07 14:35:12 0 days 00:05:08     197
4962        728136 2022-04-07 14:35:17 0 days 00:00:05     198
4987        728161 2022-04-07 14:51:20 0 days 00:16:03     199
5337        728511 2022-04-07 14:53:31 0 days 00:00:05     213
...            ...                 ...             ...     ...
15341628  16067202 2022-04-27 09:54:37 0 days 00:08:28  613665
15420378  16145952 2022-04-27 11:42:33 0 days 00:00:02  616815
15420403  16145977 2022-04-27 11:48:46 0 days 00:06:13  616816
15422153  16147727 2022-04-27 11:51:10 0 days 00:00:02  616886
15422178  16147752 2022-04-27 11:56:35 0 days 00:05:25  616887

[108 rows x 4 columns]
5. mjesec:
devijacija:0 days 00:01:07.622252865, prosjecni period:0 days 00:00:02.152720512
                id                time            diff    index
1810285   21675952 2022-05-02 16:53:42 0 days 00:00:02    72411
1810310   21675977 2022-05-02 17:00:37 0 days 00:06:55    72412
3338485   23204152 2022-05-04 03:37:41 0 days 00:00:02   133539
3338510   23204177 2022-05-04 09:31:16 0 days 05:53:35   133540
4479435   24345102 2022-05-05 11:11:33 0 days 00:00:02   179177
4479460   24345127 2022-05-05 14:16:20 0 days 03:04:47   179178
4479560   24345227 2022-05-05 14:16:28 0 days 00:00:02   179182
4479585   24345252 2022-05-05 16:43:07 0 days 02:26:39   179183
4517385   24383052 2022-05-05 17:34:28 0 days 00:00:02   180695
4517410   24383077 2022-05-06 10:03:48 0 days 16:29:20   180696
7798210   27663877 2022-05-09 11:53:40 0 days 00:00:02   311928
7798235   27663902 2022-05-09 11:57:07 0 days 00:03:27   311929
10207060  30072727 2022-05-11 18:33:05 0 days 00:00:02   408282
10207085  30072752 2022-05-11 18:50:02 0 days 00:16:57   408283
10635210  30500877 2022-05-12 04:29:28 0 days 00:00:02   425408
10635235  30500902 2022-05-12 11:29:08 0 days 06:59:40   425409
10636085  30501752 2022-05-12 11:30:18 0 days 00:00:02   425443
10636110  30501777 2022-05-12 11:31:39 0 days 00:01:21   425444
10637160  30502827 2022-05-12 11:33:41 0 days 00:00:02   425486
10637185  30502852 2022-05-12 11:35:08 0 days 00:01:27   425487
10640185  30505852 2022-05-12 11:39:17 0 days 00:00:02   425607
10640210  30505877 2022-05-12 12:04:16 0 days 00:24:59   425608
25506385  45372052 2022-05-26 11:08:07 0 days 00:00:02  1020255
25506410  45372077 2022-05-26 11:10:21 0 days 00:02:14  1020256
6. mjesec:
devijacija:0 days 00:04:41.467009431, prosjecni period:0 days 00:00:02.543928917
               id                time            diff   index
552660   47303475 2022-06-01 12:41:04 0 days 00:00:02   22106
552685   47303500 2022-06-01 17:33:55 0 days 04:52:51   22107
2321485  49072300 2022-06-03 10:23:55 0 days 00:00:02   92859
2321510  49072325 2022-06-03 12:45:44 0 days 02:21:49   92860
2354160  49104975 2022-06-03 13:30:17 0 days 00:00:02   94166
2354185  49105000 2022-06-03 13:48:18 0 days 00:18:01   94167
2366060  49116875 2022-06-03 14:05:01 0 days 00:00:02   94642
2366085  49116900 2022-06-03 14:27:09 0 days 00:22:08   94643
2419935  49170750 2022-06-03 15:45:33 0 days 00:00:02   96797
2419960  49170775 2022-06-03 16:01:45 0 days 00:16:12   96798
2476860  49227675 2022-06-03 17:19:03 0 days 00:00:02   99074
2476885  49227700 2022-06-03 17:56:51 0 days 00:37:48   99075
2566910  49317725 2022-06-03 19:58:24 0 days 00:00:02  102676
2566935  49317750 2022-06-05 23:58:32 2 days 04:00:08  102677
8445560  55196375 2022-06-11 13:20:43 0 days 00:00:03  337822
8445585  55196400 2022-06-13 09:14:57 1 days 19:54:14  337823
7. mjesec:
devijacija:0 days 00:04:02.202614061, prosjecni period:0 days 00:00:02.427500492
                id                time            diff   index
9150160   75540875 2022-07-09 14:50:13 0 days 00:00:02  366006
9150185   75540900 2022-07-11 07:33:29 1 days 16:43:16  366007
10577535  76968250 2022-07-12 15:38:47 0 days 00:00:02  423101
10577560  76968275 2022-07-14 08:33:50 1 days 16:55:03  423102
8. mjesec:
devijacija:NaT, prosjecni period:NaT
Empty DataFrame
Columns: [id, time, diff, index]
Index: []
9. mjesec:
devijacija:0 days 00:00:02.200467739, prosjecni period:0 days 00:00:02.083463334
               id                time            diff   index
40260    84836152 2022-09-08 15:26:09 0 days 00:00:02    1610
40285    84836178 2022-09-08 15:50:17 0 days 00:24:08    1611
9612360  94408253 2022-09-17 21:02:27 0 days 00:00:02  384494
9612385  94408278 2022-09-17 21:02:32 0 days 00:00:05  384495
10. mjesec:
devijacija:0 days 00:20:25.224085711, prosjecni period:0 days 00:00:07.286894806
                id                time            diff   index
1618585   97375903 2022-10-06 00:00:48 0 days 00:00:02   64743
1618610   97375928 2022-10-06 12:30:38 0 days 12:29:50   64744
1684010   97441350 2022-10-06 14:05:52 0 days 00:00:02   67360
1684035   97441375 2022-10-06 14:37:53 0 days 00:32:01   67361
1688685   97446025 2022-10-06 15:09:01 0 days 00:00:03   67547
...            ...                 ...             ...     ...
4559060  100316474 2022-10-27 15:30:09 0 days 00:47:18  182362
5369710  101127124 2022-10-28 10:11:24 0 days 00:00:02  214788
5369735  101127149 2022-10-28 10:55:25 0 days 00:44:01  214789
5371935  101129349 2022-10-28 11:47:39 0 days 00:00:02  214877
5371960  101129374 2022-10-28 16:27:06 0 days 04:39:27  214878

[66 rows x 4 columns]
11. mjesec:
devijacija:0 days 00:00:32.307643568, prosjecni period:0 days 00:00:02.144990590
                 id                time            diff   index
1509710   106198599 2022-11-02 09:54:14 0 days 00:00:02   60388
1509735   106198624 2022-11-02 11:30:51 0 days 01:36:37   60389
1510260   106199149 2022-11-02 11:31:34 0 days 00:00:03   60410
1510285   106199174 2022-11-02 11:37:06 0 days 00:05:32   60411
1510360   106199249 2022-11-02 11:37:12 0 days 00:00:02   60414
...             ...                 ...             ...     ...
9714110   114402999 2022-11-10 16:42:59 0 days 00:01:09  388564
9714185   114403074 2022-11-10 16:43:05 0 days 00:00:02  388567
9714210   114403099 2022-11-10 16:49:19 0 days 00:06:14  388568
14745510  119434399 2022-11-15 09:52:05 0 days 00:00:02  589820
14745535  119434424 2022-11-15 15:35:23 0 days 05:43:18  589821

[126 rows x 4 columns]