In [40]:
import pandas as pd
#import psycopg2 as ps
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
'''connection = ps.connect(
    host="161.53.66.18",
    port=6432,
database="postgres",
user="readonlystudentuser",
password="4URVqwKQmMiwPJ47wIxv"
)
cursor=connection.cursor()'''

In [ ]:
#engine = create_engine("postgresql://readonlystudentuser:4URVqwKQmMiwPJ47wIxv@161.53.66.18:6432/postgres")

In [ ]:
#data=pd.read_sql("select time from measurements where device = 'Elektricni bojler' and extract(MONTH from time)=1 and extract(year from time)=2023 ", engine)
#data

In [ ]:
#data.to_csv('1_2023.csv', index=False)

Učitavanje csv filea i stvaranje df-a s columnima id, time i device

In [ ]:
#pospremanje samo podataka za bojler u csv-ove

In [ ]:
for i in range(4,12):
    df = pd.read_csv(r"projektR_data\{}mj.csv".format(i), usecols=['id','time', 'device'], encoding='latin1')
    df=df[df['device'] == 'Elektricni bojler']
    
    df2=df[['id','time']]
    df2.to_csv("{}_2022.csv".format(i), index=False)

Učitavanje podataka u df-ove

In [41]:
df=pd.read_csv(r"4_2022.csv",usecols=['id','time'], encoding='latin1')
df

              id                 time
0         723184  2022-04-07 14:13:36
1         723209  2022-04-07 14:13:41
2         723234  2022-04-07 14:13:46
3         723259  2022-04-07 14:13:51
4         723284  2022-04-07 14:13:56
...          ...                  ...
723085  18802702  2022-04-29 23:59:51
723086  18802727  2022-04-29 23:59:53
723087  18802752  2022-04-29 23:59:55
723088  18802777  2022-04-29 23:59:57
723089  18802802  2022-04-29 23:59:59

[723090 rows x 2 columns]

In [ ]:
df['time']=pd.to_datetime(df['time'])
#ako je rupa na početku (odnosno zapisi krecu od npr 5. dana u mjesecu, moj program to nece automatski primijetiti
#isto tako, ako se snimanje prekine prije zadnjeg dana u mjesecu, nece se vidjeti rupa
beginning=pd.to_datetime("2022-04-01 00:00:00")
end=pd.to_datetime("2022-04-30 23:59:59")
df['diff'] = df['time'].diff(periods=1)
df

In [ ]:
#dodat prvi i zadnji redak u kojem je izračun za rupu između prvog retka i poč mjeseca, te zadnjeg retka i kraja mjeseca
df.loc[0,'diff']=df.loc[0, 'time'] - beginning
df.loc[len(df)] = {'diff':end - df.loc[len(df)-1, 'time'], 'time' : end}
df

In [ ]:
df[df['time']=="2022-04-25 16:01:27"]
#po dva retak u istom trenutku? kvari li to moj avg period?

In [ ]:
df['index'] = range(len(df))
df

Izračun prosječnog vremena između dva mjerenja (tj. perioda uzimanja uzoraka)

In [ ]:
average_period = df['diff'].mean()
average_period

st. devijacija

In [ ]:
deviation=df['diff'].std()
deviation

In [ ]:
p1=average_period+deviation
p1

In [ ]:
df3=df[df['diff'] > p1]
df3

Analiza pomoću 200% perioda umjesto devijacije (jer je jako velika)

In [ ]:
#ako stavim da je odstupanje 200% (bejzikli da pokrije do 4 s)
p2=average_period*2
p2

In [ ]:
df4=df[df['diff']>p2]
df4

Prikaz redaka (mjerenja) između kojih je rupa

In [ ]:
previous_row = df4['index'] - 1
result = pd.concat([df[df['index'].isin(previous_row) ], df4])
result = result.sort_index()
#result=result.copy()
result

In [ ]:
if result.loc[0,'index']==0:
    #prvi red ima rupu od poč. mjeseca
    new_df=pd.DataFrame({'time1':[beginning], 'time2':[result.loc[0,'time']], 'diff':[result.loc[0,'diff']]})
    new_df=pd.concat([new_df,pd.DataFrame({
    'time1': result['time'].iloc[1::2].reset_index(drop=True),
    'time2': result['time'].iloc[2::2].reset_index(drop=True),
    'diff': result['diff'].iloc[2::2].reset_index(drop=True)
    })], ignore_index=True)
else:
    # No gap in the first row
    new_df = pd.DataFrame({
        'time1': result['time'].iloc[0::2].reset_index(drop=True),
        'time2': result['time'].iloc[1::2].reset_index(drop=True),
        'diff': result['diff'].iloc[1::2].reset_index(drop=True)
    }, ignore_index=True)

new_df

Funckija za izračun prosječnog perioda te filtirranje rupa

In [42]:
def obrada(month):
    df=pd.read_csv("{}_2022.csv".format(month),usecols=['id','time'], encoding='latin1')
    end=pd.to_datetime("2022-{}-01 23:59:59".format(month+1))-pd.Timedelta(days=1)
    beginning=pd.to_datetime("2022-{}-01 00:00:00".format(month))
    if df.empty:
        df=pd.DataFrame({'time1':[beginning], 'time2':[end], 'diff':[end-beginning]})
        #print(beginning)
        return df, 0, end-beginning
    print(len(df))
    df['time']=pd.to_datetime(df['time'])
   # df=df[['id','time']]
    df['diff'] = df['time'].diff(periods=1)
    
    df.loc[0,'diff']=df.loc[0, 'time'] - beginning
    df.loc[len(df)] = {'diff':end - df.loc[len(df)-1, 'time'], 'time' : end}

    df['index'] = range(len(df))
    average_period = df['diff'].mean()
    deviation=df['diff'].std()
    p1=average_period+deviation
    p2=average_period*2
    df4=df[df['diff'] > p2]
    #print(df)
    previous_row = df4['index'] - 1
    result = pd.concat([df[df['index'].isin(previous_row) ], df4])
    result.sort_index(inplace=True, ignore_index=True)

    #print(result)
    #print(average_period)
    if(result.empty):
        print("nema rupa")
        return result, deviation, average_period
    if result.loc[0,'index']==0:
        #prvi red ima rupu od poč. mjeseca
        new_df=pd.DataFrame({'time1':[beginning], 'time2':[result.loc[0,'time']], 'diff':[result.loc[0,'diff']]})
        new_df=pd.concat([new_df,pd.DataFrame({
        'time1': result['time'].iloc[1::2].reset_index(drop=True),
        'time2': result['time'].iloc[2::2].reset_index(drop=True),
        'diff': result['diff'].iloc[2::2].reset_index(drop=True)
        })], ignore_index=True)
    else:
        new_df = pd.DataFrame({
            'time1': result['time'].iloc[0::2].reset_index(drop=True),
            'time2': result['time'].iloc[1::2].reset_index(drop=True),
            'diff': result['diff'].iloc[1::2].reset_index(drop=True)
        })
    return new_df, deviation, average_period

In [43]:
result, deviation, average_period =obrada(10)
#print('{}. mjesec:'.format(i))
print('devijacija:{}, prosjecni period:{}'.format(deviation, average_period))
result

314632
devijacija:0 days 00:22:25.219952880, prosjecni period:0 days 00:00:08.512772023

                  time1               time2            diff
0   2022-10-01 00:00:00 2022-10-04 11:08:36 3 days 11:08:36
1   2022-10-04 11:24:36 2022-10-04 11:29:19 0 days 00:04:43
2   2022-10-04 12:12:34 2022-10-04 12:13:32 0 days 00:00:58
3   2022-10-05 11:26:27 2022-10-05 11:26:46 0 days 00:00:19
4   2022-10-05 11:29:45 2022-10-05 11:30:23 0 days 00:00:38
..                  ...                 ...             ...
166 2022-10-28 16:41:58 2022-10-28 16:43:25 0 days 00:01:27
167 2022-10-28 16:43:33 2022-10-28 16:46:00 0 days 00:02:27
168 2022-10-28 16:54:45 2022-10-28 16:57:35 0 days 00:02:50
169 2022-10-28 16:57:50 2022-10-28 16:58:43 0 days 00:00:53
170 2022-10-30 23:59:59 2022-10-31 23:59:59 1 days 00:00:00

[171 rows x 3 columns]

In [ ]:
for i in range(4,12):
    result, deviation, average_period=obrada(i)
    print('{}. mjesec:'.format(i))
    print('devijacija:{}, prosjecni period:{}'.format(deviation, average_period))
    print(result)

Traženje redaka koji imaju razmak 0 u vremenu

In [44]:
def obrada_nula(month):
    df=pd.read_csv("{}_2022.csv".format(month),usecols=['id','time'], encoding='latin1')
    end=pd.to_datetime("2022-{}-01 23:59:59".format(month+1))-pd.Timedelta(days=1)
    beginning=pd.to_datetime("2022-{}-01 00:00:00".format(month))
    if df.empty:
        df=pd.DataFrame({'time1':[beginning], 'time2':[end], 'diff':[end-beginning]})
        #print(beginning)
        return df, 0, end-beginning
    print(len(df))
    df['time']=pd.to_datetime(df['time'])
   # df=df[['id','time']]
    df['diff'] = df['time'].diff(periods=1)
    
    df.loc[0,'diff']=df.loc[0, 'time'] - beginning
    df.loc[len(df)] = {'diff':end - df.loc[len(df)-1, 'time'], 'time' : end}

    df['index'] = range(len(df))
    df4=df[df['diff']==pd.to_timedelta('0 days 00:00:00')]
    #print(df)
    previous_row = df4['index'] - 1
    result = pd.concat([df[df['index'].isin(previous_row) ], df4])
    result.sort_index(inplace=True, ignore_index=True)

    #print(result)
    #print(average_period)
    if(result.empty):
        print("nema rupa")
        return result, deviation, average_period
    if result.loc[0,'index']==0:
        #prvi red ima rupu od poč. mjeseca
        new_df=pd.DataFrame({'time1':[beginning], 'time2':[result.loc[0,'time']], 'diff':[result.loc[0,'diff']]})
        new_df=pd.concat([new_df,pd.DataFrame({
        'time1': result['time'].iloc[1::2].reset_index(drop=True),
        'time2': result['time'].iloc[2::2].reset_index(drop=True),
        'diff': result['diff'].iloc[2::2].reset_index(drop=True)
        })], ignore_index=True)
    else:
        new_df = pd.DataFrame({
            'time1': result['time'].iloc[0::2].reset_index(drop=True),
            'time2': result['time'].iloc[1::2].reset_index(drop=True),
            'diff': result['diff'].iloc[1::2].reset_index(drop=True)
        })
    return new_df

In [45]:
result=obrada_nula(10)
result

314632

                   time1               time2   diff
0    2022-10-05 14:08:01 2022-10-05 14:08:01 0 days
1    2022-10-05 14:08:03 2022-10-05 14:08:03 0 days
2    2022-10-05 14:08:05 2022-10-05 14:08:05 0 days
3    2022-10-05 14:08:07 2022-10-05 14:08:07 0 days
4    2022-10-05 14:08:09 2022-10-05 14:08:09 0 days
...                  ...                 ...    ...
1444 2022-10-30 02:59:51 2022-10-30 02:59:51 0 days
1445 2022-10-30 02:59:53 2022-10-30 02:59:53 0 days
1446 2022-10-30 02:59:55 2022-10-30 02:59:55 0 days
1447 2022-10-30 02:59:57 2022-10-30 02:59:57 0 days
1448 2022-10-30 02:59:59 2022-10-30 02:59:59 0 days

[1449 rows x 3 columns]

Prikaz za 5.10.2022. u 14:08

In [47]:
dat = pd.read_csv('10_2022.csv',usecols=['id','time'], parse_dates=['time'], encoding='latin1')
dat[dat['time'].dt.strftime('%Y-%m-%d %H:%M') == '2022-10-05 14:08']

             id                time
47112  96935128 2022-10-05 14:08:01
47113  96935153 2022-10-05 14:08:01
47114  96935203 2022-10-05 14:08:03
47115  96935178 2022-10-05 14:08:03
47116  96935253 2022-10-05 14:08:05
47117  96935228 2022-10-05 14:08:05
47118  96935278 2022-10-05 14:08:07
47119  96935303 2022-10-05 14:08:07
47120  96935328 2022-10-05 14:08:09
47121  96935353 2022-10-05 14:08:09
47122  96935378 2022-10-05 14:08:11
47123  96935403 2022-10-05 14:08:11
47124  96935428 2022-10-05 14:08:13
47125  96935453 2022-10-05 14:08:13
47126  96935478 2022-10-05 14:08:15
47127  96935503 2022-10-05 14:08:15
47128  96935528 2022-10-05 14:08:17
47129  96935553 2022-10-05 14:08:17
47130  96935578 2022-10-05 14:08:19
47131  96935603 2022-10-05 14:08:19
47132  96935628 2022-10-05 14:08:21
47133  96935653 2022-10-05 14:08:21
47134  96935678 2022-10-05 14:08:23
47135  96935703 2022-10-05 14:08:25
47136  96935728 2022-10-05 14:08:27
47137  96935753 2022-10-05 14:08:29
47138  96935778 2022-10-05 14:08:31
47139  96935803 2022-10-05 14:08:33
47140  96935828 2022-10-05 14:08:35
47141  96935853 2022-10-05 14:08:37
47142  96935878 2022-10-05 14:08:39
47143  96935903 2022-10-05 14:08:41
47144  96935928 2022-10-05 14:08:43
47145  96935953 2022-10-05 14:08:45
47146  96935978 2022-10-05 14:08:47
47147  96936003 2022-10-05 14:08:49
47148  96936028 2022-10-05 14:08:51
47149  96936053 2022-10-05 14:08:53
47150  96936078 2022-10-05 14:08:55
47151  96936103 2022-10-05 14:08:57
47152  96936128 2022-10-05 14:08:59

Ima li vrijeme zonu?

In [51]:
#df=pd.read_csv('10_2022.csv',usecols=['id','time'], encoding='latin1')
df = pd.read_csv('10_2022.csv',usecols=['id','time'], parse_dates=['time'], encoding='latin1')
#df['time']=pd.to_datetime(df['time'])
df['diff'] = df['time'].diff()

df2=df[df['diff']<pd.Timedelta(0)]
#ako je sat promjenjen, u 03:00:00 ce se pomaknuti nazad na 2, i ondaa ce prethodni timestamp (02:59:59) biti veci od 2 i diff je negativan
is_dst_change = any(df['diff'] >= pd.Timedelta(seconds=-3600))
df2
print(df['time'].dt.tz)

None

30.10 u 2 je promjena sata

In [52]:
df[df['time'].dt.strftime('%Y-%m-%d %H') == '2022-10-30 02']

               id                time            diff
273907  102605099 2022-10-30 02:00:01 0 days 00:00:02
273908  102649349 2022-10-30 02:00:01 0 days 00:00:00
273909  102605124 2022-10-30 02:00:03 0 days 00:00:02
273910  102649374 2022-10-30 02:00:03 0 days 00:00:00
273911  102605149 2022-10-30 02:00:05 0 days 00:00:02
...           ...                 ...             ...
277442  102693524 2022-10-30 02:59:55 0 days 00:00:00
277443  102649299 2022-10-30 02:59:57 0 days 00:00:02
277444  102693549 2022-10-30 02:59:57 0 days 00:00:00
277445  102649324 2022-10-30 02:59:59 0 days 00:00:02
277446  102693574 2022-10-30 02:59:59 0 days 00:00:00

[3540 rows x 3 columns]

In [53]:
df[df['diff']==pd.to_timedelta('0 days 00:00:00')]

               id                time   diff
47113    96935153 2022-10-05 14:08:01 0 days
47115    96935178 2022-10-05 14:08:03 0 days
47117    96935228 2022-10-05 14:08:05 0 days
47119    96935303 2022-10-05 14:08:07 0 days
47121    96935353 2022-10-05 14:08:09 0 days
...           ...                 ...    ...
277438  102693474 2022-10-30 02:59:51 0 days
277440  102693499 2022-10-30 02:59:53 0 days
277442  102693524 2022-10-30 02:59:55 0 days
277444  102693549 2022-10-30 02:59:57 0 days
277446  102693574 2022-10-30 02:59:59 0 days

[1449 rows x 3 columns]

Simulacija utjecaja velike rupe na period

In [54]:
from datetime import datetime, timedelta

start_date = datetime(2022, 1, 1)
time_diff = timedelta(seconds=2) 

timestamps = pd.date_range(start=start_date, periods=500000, freq=time_diff)

data = pd.DataFrame({'timestamp': timestamps})
data=pd.concat([data, pd.DataFrame({'timestamp':[pd.to_datetime("2022-01-30")]})], ignore_index=True)
data['diff'] = data['timestamp'].diff(periods=1)
avg= data['diff'].mean()
print(avg)
data

0 days 00:00:05.011200

                 timestamp             diff
0      2022-01-01 00:00:00              NaT
1      2022-01-01 00:00:02  0 days 00:00:02
2      2022-01-01 00:00:04  0 days 00:00:02
3      2022-01-01 00:00:06  0 days 00:00:02
4      2022-01-01 00:00:08  0 days 00:00:02
...                    ...              ...
499996 2022-01-12 13:46:32  0 days 00:00:02
499997 2022-01-12 13:46:34  0 days 00:00:02
499998 2022-01-12 13:46:36  0 days 00:00:02
499999 2022-01-12 13:46:38  0 days 00:00:02
500000 2022-01-30 00:00:00 17 days 10:13:22

[500001 rows x 2 columns]